<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let movie of allMovies">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{movie.movie_image}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{movie.movie_name}}</h5>
                      <h5 class="card-title">{{movie.movie_year}}</h5>
                      <h5 class="card-title">{{movie.movie_director}}</h5>


                     
                      <button class="btn btn-info mr-4"(click)="redirectMoviedetails(movie.id)">View Details</button>
                      <button class="btn btn-primary"(click)="redirecttoAddReview(movie.id)">Add review</button>

                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
